.comment {
    border: 2px solid var(--coral-100);
    background-color: var(--dark);
    border-radius: 0.5em;

    textarea {
        resize: none;
        outline: none;
        padding: 0.5em;
        border: none;
    }

    .buttons {
        display: flex;
        width: fit-content;
        margin: 0.5em;
        gap: 1em;

        button {
            background-color: var(--coral-100);
            padding: 0.5em;
            border-radius: 0.25em;
        }
    }
}