.card {
    height: 14em;
    aspect-ratio: 2 / 3;
    border-radius: 1em;
    overflow: hidden;
    background-size: contain;
    background-position: center;
    transition: 100ms;
    display: flex;
    align-items: flex-end;
    margin: 0.75em;



    &:hover {
        transform: scale(1.05);
        outline: var(--coral-200) solid 2px;
    }

    .title {
        font-size: 0.9em;
        margin: 0.4em;
        text-overflow: ellipsis;
        color: var(--coral-100);

    }

    .release-date {
        color: grey;
        font-size: 0.7em;
        margin: 0.5em;
        margin-left: 1em;
        font-weight: 600;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
}