.home-page {
    color: white;
    font-family: "Satoshi";
    font-variation-settings: "wght" 800;
}

.btn {
    font-family: "General Sans";
    font-variation-settings: "wght" 300;
    color: white;
    background-color: blue;
    border: none;
    outline: none;
    padding: 0.5em 1em;
    margin: 1em;
    border-radius: 0.5em;
    cursor: pointer;
}