.footer {
    color: white;
    font-family: "Satoshi";
    font-variation-settings: "wght" 500;
    text-align: center;
    margin: 1em auto;
    width: 100%;
    position: relative;
    bottom: 0%;
}