.carousel {
    overflow-x: scroll;
    display: flex;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    align-items: center;
    scrollbar-width: none;
}

h3 {
    margin: 0.5em;
}

.popular-wrapper {
    position: relative;
    height: 15em;
    display: flex;
}

.scroll-btn {
    z-index: 10;
    color: white;
    background-color: rgb(0, 0, 0);
    opacity: 0.8;
    border: none;
    outline: none;
    height: 100%;
    width: 3em;
    padding: 0.5em;
    cursor: pointer;
    position: absolute;

}

.left {
    left: 0;
}

.right {
    right: 0;
}

@media (hover:none) {
    .scroll-btn {
        display: none;
    }
}