.card-list {
    position: absolute;
    overflow-x: auto;
    display: flex;
    align-items: center;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    gap: 0.5em;
    height: 100%;
    width: 100%;

    &::-webkit-scrollbar {
        display: none;
    }
}

.carousel {
    position: relative;
    height: 17em;
    display: grid;
    place-items: center;

    svg {
        height: 4em;
    }

    &:hover {
        .scroll-btn {
            opacity: 0.8;
        }
    }
}


.scroll-btn {
    z-index: 10;
    color: white;
    background-color: transparent;
    opacity: 0;
    border: none;
    outline: none;
    height: 100%;
    width: 3em;
    cursor: pointer;
    position: absolute;
    top: 0;
    transition: all 0.3s;

    svg {
        height: 2em;
    }

    &:first-of-type {
        left: 0;
    }

    &:last-of-type {
        right: 0;
    }

}



@media (hover:none) {
    .scroll-btn {
        display: none;
    }
}