.episode-btn {
    button {
        appearance: none;
        border: none;
        outline: none;
        height: 2em;
        width: 2.2em;
        background-color: var(--coral-100);
        border-radius: 0.25em;
        color: black;
        margin: 0.25em;
        padding: 0.25em 0.75em;
        font-size: 1.4em;
        font-family: 'Satoshi';

        &:hover {
            outline: var(--purple-100) solid 3px;
        }
    }

}