.search-results {
    position: absolute;
    font-family: "General Sans";
    font-variation-settings: "wght" 600;

    img {
        height: 3em;
    }

    h3 {

        color: yellow;
    }

    p {
        color: white;
    }
}