.search-results {
    top: 3em;
    position: absolute;
    font-variation-settings: "wght" 500;
    background-color: var(--coral-100);
    z-index: 10;
    width: 100%;
    border: 2px solid var(--coral-100);
    border-radius: 0.5em;
    overflow: hidden;




    svg {
        height: 3em;
    }




}

.no-results {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 1em;
    border-radius: 0.5em;
    color: var(--dark);
}

.result {
    cursor: pointer;
    margin: 0.2em;
    border-radius: 0.5em;
    padding: 0.4em;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;

    div {
        margin: 0.4em;
        margin-left: 1em;
    }

    img {
        height: 6em;
        aspect-ratio: 3 / 4;
        border-radius: 0.5em;
    }

    .title {

        color: var(--dark);
        font-size: 1em;
    }

    .status {
        font-size: 0.8em;
        margin-top: 0.2em;
        color: var(--dark);
    }

    &:hover::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: var(--dark);
        opacity: 0.2;
    }

}