.search-results {
    position: absolute;
    font-family: "General Sans";
    font-variation-settings: "wght" 500;
    border-radius: 0.5em;
    background-color: var(--dark);

    img {
        height: 3em;
    }

    h3 {

        color: yellow;
    }

    p {
        color: white;
    }
}