.search-bar {
    border-radius: 0.4em;
    border: 2px solid var(--coral-100);
    height: 2.6em;
    display: flex;
    margin: 0.5em;
    margin-right: 1em;
    position: relative;


    & > input {
        font-family: "General Sans";
        font-variation-settings: "wght" 600;
        background-color: transparent;
        padding: 0.4em;
        border: none;
        outline: none;
        color: var(--coral-100);
        border-radius: 0.4em;
        letter-spacing: 1px;
        width: 10em;
        transition: width 0.3s ease;

        &:focus-within {
            width: min(40vw, 20em);

        }

        &::placeholder {
            color: rgb(171, 171, 171);
            opacity: 1;
        }
    }

    & > button {
        background-color: transparent;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 0.5em;
        height: 100%;

        svg {
            color: var(--coral-100);

        }
    }
}



.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.logo {


    width: min(40vw, 12em);
    // height: 3em;
    min-height: 2em;
    margin: 0.75em;
    display: flex;
    overflow: hidden;
    align-items: center;
    color: white;
    font-family: "Satoshi";
    font-size: 1.5em;

    img:hover {
        animation: logo-shake 0.5s ease-in infinite forwards;
    }


}

@keyframes logo-shake {
    0% {
        transform: rotate(5deg) scale(1.07);
    }

    25% {
        transform: rotate(-5deg) scale(1.07);
    }

    50% {
        transform: rotate(5deg) scale(1.07);
    }

    75% {
        transform: rotate(-5deg) scale(1.07);
    }

    100% {
        transform: rotate(5deg) scale(1.07);
    }

}