.result {
    cursor: pointer;
    position: relative;
    margin: 0.2em;
    border-radius: 0.5em;
    padding: 0.4em;
    display: flex;
    align-items: center;

    div {
        margin: 0.4em;
        margin-left: 1em;
    }

    img {
        height: 6em;
        aspect-ratio: 3 / 4;
        border-radius: 0.5em;
    }

    .title {

        font-size: 1em;
    }

    .status {
        font-size: 0.8em;
        margin-top: 0.2em;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: rgba($color: #ffffff, $alpha: 0.4);
    }


    &:hover::before {
        content: '';
        height: 100%;
        width: 100%;
        background-color: white;
        opacity: 0.1;
        left: 0;
        position: absolute;
        border-radius: 0.5em;
    }
}